<form>
    <!-------------------------Name-------------------------------------------->
    <div class="reg-customer-name-container container-fluid">
        <label for="txtRegName"></label>
        <input id="txtRegName" placeholder="Enter name" type="text">
        <span id="reg-name-validation"></span>
    </div>

    <!------------------------------Address--------------------------------------->
    <div class="reg-customer-address-container container-fluid">
        <label for="txtRegAddress"></label>
        <input id="txtRegAddress" placeholder="Enter address" type="text">
        <span id="reg-address-validation"></span>
    </div>

    <!-------------------------------Email-------------------------------------->
    <div class="reg-customer-email-container container-fluid">
        <label for="txtRegEmail"></label>
        <input id="txtRegEmail" placeholder="Enter email" type="email">
        <span id="reg-email-validation"></span>
    </div>

    <!---------------------------------Nic------------------------------------>
    <div class="reg-customer-nic-container container-fluid">
        <label for="txtRegNic"></label>
        <input id="txtRegNic" placeholder="Enter nic" type="text">
        <span id="reg-nic-validation"></span>
        <div><input class="reg-nic-image" id="uploadNicImage" type="file"></div>
    </div>

    <!---------------------------------License------------------------------------>
    <div class="reg-customer-license-container container-fluid">
        <label for="txtRegLicense"></label>
        <input id="txtRegLicense" placeholder="Enter driving license" type="text">
        <span id="reg-license-validation"></span>
        <div><input class="reg-license-image" id="uploadLicenseImage" placeholder="Upload your license" type="file">
        </div>
    </div>

    <!---------------------------Contact-------------------------------------------------->
    <div class="reg-customer-contact-container container-fluid">
        <label for="txtRegContact"></label>
        <input id="txtRegContact" placeholder="Enter contact" type="text">
        <span id="reg-contact-validation"></span>
    </div>

    <!--------------------------------Password------------------------------------->
    <div class="reg-customer-password-container container-fluid">
        <label for="reg-password"></label>
        <i class="far fa-eye-slash" id="reg-password-logo"></i>
        <input id="reg-password" placeholder="Password" type="password">
        <span id="reg-password-validation"></span>
    </div>

    <!--------------------Register Button----------------------------------->
    <button id="reg-btn-customer" type="button">Register</button>
</form>