<form novalidate>
    <!-------------------------Name-------------------------------------------->
    <div class="reg-user-name-container container-fluid">
        <label for="txtRegName"></label>
        <input id="txtRegName" placeholder="Enter name" required type="text">
        <span id="reg-name-validation"></span>
    </div>

    <!------------------------------Address--------------------------------------->
    <div class="reg-user-address-container container-fluid">
        <label for="txtRegAddress"></label>
        <input id="txtRegAddress" placeholder="Enter address" required type="text">
        <span id="reg-address-validation"></span>
    </div>

    <!-------------------------------Email-------------------------------------->
    <div class="reg-user-email-container container-fluid">
        <label for="txtRegEmail"></label>
        <input id="txtRegEmail" placeholder="Enter email" required type="email">
        <span id="reg-email-validation"></span>
    </div>

    <!---------------------------------Nic------------------------------------>
    <div class="reg-user-nic-container container-fluid">
        <label for="txtRegNic"></label>
        <input id="txtRegNic" placeholder="Enter nic" required type="text">
        <span id="reg-nic-validation"></span>
        <div><input class="reg-nic-image" id="uploadNicImage" required type="file"></div>
    </div>

    <!---------------------------------License------------------------------------>
    <div class="reg-user-license-container container-fluid">
        <label for="txtRegLicense"></label>
        <input id="txtRegLicense" placeholder="Enter driving license" required type="text">
        <span id="reg-license-validation"></span>
        <div><input class="reg-license-image" id="uploadLicenseImage" placeholder="Upload your license" required
                    type="file">
        </div>
    </div>

    <!---------------------------Contact-------------------------------------------------->
    <div class="reg-user-contact-container container-fluid">
        <label for="txtRegContact"></label>
        <input id="txtRegContact" placeholder="Enter contact" required type="text">
        <span id="reg-contact-validation"></span>
    </div>

    <!--------------------------------Password------------------------------------->
    <div class="reg-user-password-container container-fluid">
        <label for="reg-password"></label>
        <i class="far fa-eye-slash" id="reg-password-logo"></i>
        <input id="reg-password" placeholder="Password" required type="password">
        <span id="reg-password-validation"></span>
    </div>

    <!--------------------Register Button----------------------------------->
    <button id="reg-btn-user" type="button">Register</button>
</form>